/* Default Font */
body {
    font-family: 'Roboto Condensed', sans-serif;
}


/* HEADER SECTION */

#header {
    background-color: #212529;
}


@media (max-width: 992px) {

    #search {
        border-left: 1px solid rgba(211, 211, 211, 0.3);
    }

    #header .container-fluid {
        padding-right: 0;
        margin-right: 0;
    }
}


/* Changed size of logo and hamburger icon on small devices */
@media (max-width: 992px) {
    .navbar-toggler {
        width: 25px;
    }

    .logo {
        width: 120px;
    }
}



@media (min-width: 992px) {
    #header div {
        border-color: #ffff;
    }

    #header {
        background-color: #FFF;
    }

    .logo path {
        fill: #212529;
    }
}


/* NAVBAR SECTION */
#socials-nav svg path:hover {
    fill: lightgray;
}


#navbar {
    background-color: #2B2D32;
    border-bottom: 1px solid rgba(211, 211, 211, 0.3);
    font-size: 18px;
}

#navbar .navbar-nav {
    margin-right: 20px;
}


#socials-nav a {
    margin-right: 10px;
    text-decoration: none;
}

/* CAROUSEL SECTION */

@media (max-width: 992px) {
    #carousel {
        padding: 0;
    }
}


/* LATEST SECTION */

#latest h1 {
    font-size: 36px;
}

@media (max-width: 768px) {
    #latest h1 {
        font-size: 24px;
    }
}

#latest h1::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 25px;
    background-color: #9a58b5;
    height: 4px;

}



@media (max-width: 992px) {
    #latest {
        padding-left: 0;
        padding-right: 0;
    }
}


.card {
    padding: 40px 0;
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #dedede;
}

@media (max-width: 768px) {
    .card {
        padding: 5px 0 ;
        border: none;
    }
}



#post-img {
    width: 300px;
    height: 197px;
}


@media (max-width: 1200px) {
    #post-img {
        width: 200px;
        height: 131px;
    }
}

@media (max-width: 768px) {
    #post-img {
        width: 100%;
        height: auto;
    }
}


#latest .card-body {
    padding-top: 0;
    padding-bottom: 0;
}

#latest .card-title {
    font-family: 'Merriweather', serif;
    font-weight: 400;
    font-size: 30px;
}

@media (max-width: 768px) {
    #latest .card-title {
        font-weight: 500;

    }
}


@media (max-width: 1200px) {
    #latest .card-title {
        font-size: 22px;

    }
}

#latest .card-text {
    font-family: 'Merriweather', serif;
    font-weight: 300;
    font-size: 14px;
}




/* Author name */
#author .card-text small {
    font-size: 14px;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 400;

}



@media (max-width: 768px) {
    #latest .card-body {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}







/* FOOTER SECTION */

#footer {
    background-color: #212529;
}

#links p {
    font-size: 18px;
}

#links a {
    color: #959698;
    text-decoration: none;
}

#links a:hover{
    color: #FFF;
}

/* Gap between social icon on large screens */
@media (min-width: 992px) {
    #socials li {
        margin-left: 20px;
    }
}


/* Purple line of top of Section names */
#links p::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 30px;
    height: 3px;
    background-color: #9a58b5;
}